body{
margin:0;
}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/*--ヘッダー-----------------*/
header{
  background-color:white;
  border-bottom:1px solid #d3d3d3;
  height:80px;
  position: fixed;
  width:100%;
  margin: 0;
  z-index: 10;
  color: black;
  opacity: 0.8;
}


.header-logo{
  height:auto;
  width:20vw;
  float:left;
}

.header-menu{
  float:right;
  margin-right: 1000px;
}



.button{
  color:black;
  text-decoration:none;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding:25px 0px 20px 0px;
  margin:0px 45px
  
}

.button:hover{
  border-bottom: 5px solid #17184b;
}
/*---コンテンツ----------*/

/*---------------------------------*/
.top-wrapper{
  height: 660px;
  background-image: url("トップ画像.JPG");
  background-size: cover;
  padding:150px 0 100px 0;
  position: relative;
  background-attachment: fixed;
}

.top-wrapper::before{
  /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.7);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}


.container{
  position: absolute;
  width: 100%;
  padding-left: 150px;
  color: white;
}

.top-text{
  color: white;
  letter-spacing:10px;
  font-size: 20px;
  line-height: 40px;
}
.bottom-text{
  margin-top: 100px;
}

.bottom-text h1{
  font-size: 30px;
  letter-spacing:5px;
}
.bottom-text span{
  border-bottom: 8px solid white;
}

.bottom-text p{
  line-height: 10px;
  font-size: 13px;
  letter-spacing:2px;
}

.second-img img{
  margin-top: 60px;
  width:100vw;
  height:auto;
}

h1{

}

/*フッター*/
footer{
  background-color:#f5f5f5;
  padding-top: 30px;
}

.footer-menu{
  text-align: center;
}

.footer-list{
display: inline-block;
padding: 0 10px 0 10px;
border-right: 2px solid black;
color:black;
text-decoration: none;
}
.footer-list span:hover{
  border-bottom: 1px solid black;
}
.footer-list li+ li {
  border-left: 1px solid #333;
}


#none{
border-right: none;
}

.ftr-top{
  text-align: center;
}

.social-icon{
  text-align: center;
}


#social-icon a {
  text-align: center;
  display: inline-block;
  padding: 0 ;
  color: #fff;
}

#social-icon i {
  width: 50px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  border-radius: 50%;
}

#social-icon i:before {
  padding: 0;
  line-height: 50px;
 }

#social-icon .fa-twitter {
  background: #00a1e9;
 }

#social-icon .fa-facebook {
  background: #3b5998;

 }


.bottom-wrapper{
  color:white;
  background-color:black;
  padding-left:60px;
  clear:both;
  font-size: 80%;
}
